# Vendor directories
vendor/

# Tmux
tmux/resurrect/
tmux/plugins/

# Neovim
.luarc.json
nvim/lazy-lock.json

# Zsh
zsh/waffle-plugins/

# Lazygit
lazygit/state.yml

# Karabiner
karabiner/assets
karabiner/automatic_backups
karabiner/karabiner.json

# Ignore Claude AI files
.claude/

# Ignore .env
.env
